<!DOCTYPE html>
<html ng-app="myConference" lang="en">
<head>
  <title>myConference</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.0.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<style>
  .typeahead .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
</style>

  <script>
	var app = angular.module( "myConference", ['ui.bootstrap','ngSanitize'] );
	app.controller( "mainController", function($scope, $http) {
		$scope.search = "";
	  
		$scope.selected = undefined;
		
		$scope.getSuggestions = function(val) {
			return $http.get('/api/?q=' + val ).then(function(response) {
				$scope.selected = response.data.results;

				return response.data.results.map(function(item){
					return item.short_name;
			  	});
			});
		};

		$scope.getConfDetails = function(id) {
			return $http.get('/api/conference?id='+ id).then(function(response) {
				$scope.selected = response.data.results;
			});
		};

	});
	
	app.filter('nl2br', function($sce) {
		return function(text) { 
			text = text.replace(/\\r/g, '<br />');
			return $sce.trustAsHtml(text);
		}
	});
 

  </script>
</head>

<body>
	<div class="container typeahead" ng-controller="mainController">

		<div class="page-header">
			<h1>myConference</h1>
			<!-- <span class="">conferences made easy</span> -->
		</div>

 		<input type="text" ng-model="asyncSelected" ng-model-options="{ debounce: 200 }"
			uib-typeahead="suggestion for suggestion in getSuggestions($viewValue)" 
			typeahead-loading="loadingSuggestions" typeahead-no-results="noResults" 
			class="form-control">
		
		<i ng-show="loadingSuggestions" class="glyphicon glyphicon-refresh"></i>
		<div ng-show="noResults"><i class="glyphicon glyphicon-remove"></i>No Results</div>
		
		<ul>
		<li class="" ng-repeat="item in selected | filter : asyncSelected">
			{{item.full_name}} [{{item.short_name}}] <br>
			dates: {{item.start_date | date:"dd MMM yyyy"}} - {{item.end_date | date:"dd MMM yyyy"}}<br>
			location: {{item.location}}<br>
			<span ng-if="item.url != ''">website: <a href="{{item.url}}">{{item.url}}</a><br></span>
			<br>
			<span ng-if="item.pre_sub_date != '0000-00-00'">
				Abstract Deadline: {{item.pre_sub_date| date:"dd MMM yyyy"}}<br>
			</span>
			<span ng-if="item.sub_date != '0000-00-00'">
			Submission Deadline: {{item.sub_date | date:"dd MMM yyyy"}}<br>
			</span>
			<span ng-if="item.notify_date != '0000-00-00'">
			Notification Date: {{item.notify_date | date:"dd MMM yyyy"}}<br>
			</span>
			<span ng-if="item.camera_date != '0000-00-00'">
			Camera Ready Date: {{item.camera_date | date:"dd MMM yyyy"}}<br>
			</span>
			<br>
			<div><a href="#" ng-click='showDescription =! showDescription'>details</a></div>		
			<div ng-show="showDescription">
				<hr>
				<span ng-bind-html="item.description | nl2br"></span> 
			</div>
		</li>
		</ul>
		<pre>{{ selected | filter : asyncSelected | json }}</pre>

	</div>
</body>
</html>
